body {
  text-align: center;
}

button {
  cursor: pointer;
}

#screen-table, #screen-table > tr > th, #screen-table > tr > td {
  border: 1px solid black;
  margin: auto;
}

#query-container {
  margin: auto;
  text-align: center;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
}


#query-head {
  background-color: rgb(255, 200, 180);
  margin-bottom: 3px;
}

#query-body {
  margin: 3px;
}

#query-body-top, #query-body-bottom {
  padding: 3px;
}

.section-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 5px;
}
.and-title, .or-title {
  margin-bottom: 3px;
}
.and-title {
  background-color: rgb(188, 255, 194);
}
.or-title {
  background-color: rgb(255, 158, 158);
}
.not-title {
  background-color: rgb(140, 176, 255);
}


.logic-div {
  display: inline-block;
  border: 2px solid rgb(255, 206, 99);
  border-radius: 5px;
  font-size: 0;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
}
.condition-div, .chemical-div {
  display: inline-block;
  border: 2px solid rgb(127, 48, 255);
  border-radius: 5px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
}
.selected-condition {
  background-color: rgb(250, 255, 178);
}
.selected-chemical {
  background-color: rgb(213, 255, 178);
}

.input-table {
  text-align: left;
  table-layout: fixed;
  border: 0;
  margin: auto;
}
.input-table > tr > td {
  border: 0;
  width: 50%;
}
.input-wide {
  width: 100%;
}