/* Give body a size for fitting top level content easily */

html, body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

/* Banner */

#site-banner {
  background-color: rgb(111, 175, 177);
  font-size: 0;
  height: 75px;
}

.site-banner-component {
  box-sizing: border-box;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.site-banner-component > p {
  margin: 0;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

#site-title {
  line-height: 75px;
  width: 30%;
  text-align: left;
  font-size: 25px;
  padding-left: 30px;
}

#site-banner-button-div {
  font-size: 12px;
  width: 40%;
  text-align: center;
}

#site-details {
  line-height: 75px;
  width: 30%;
  text-align: right;
  font-size: 12px;
  padding-right: 30px;
}

#site-banner-button-table {
  height: 100%;
  margin: auto;
  max-width: 500px;
}

/* Body */

#site-body {
  height: calc(100% - 75px);
}

#site-content-screens,
#site-content-stocks,
#site-content-chemicals {
  margin: 0 20px 20px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  overflow: auto;
}

button {
  cursor: pointer;
  margin: 3px;
  font-size: 17px;
}

.button-table {
  table-layout: fixed;
  width: 100%;
}

.table-cell-button {
  width: calc(100% - 6px);
  overflow: hidden;
}

.stacked-button {
  width: calc(100% - 6px);
}

.delete-button,
.cancel-button {
  color: rgb(206, 21, 21);
}

.save-button {
  color: rgb(45, 194, 20);
}

.viewed-row-highlight {
  background-color: rgb(239, 199, 255);
}

#login-popup,
#confirmation-popup,
#information-popup {
  position: fixed;
  width: 20%;
  left: 40%;
  top: 25%;
  z-index: 10;
  background-color: rgb(184, 151, 214);
  text-align: center;
  border: 2px solid black;
}

#login-button-table,
#confirmation-button-table,
#information-button-table {
  width: 60%;
  margin: auto;
}

#login-input-table {
  width: 80%;
  margin: auto;
}

#login-error-message,
#confirmation-message,
#information-message {
  color: rgb(95, 49, 49);
}