#stock-view-buttons-table {
    width: 100%;
    padding: 0 40%;
}

#stock-table, 
#stock-table > thead > tr > th, 
#stock-table > tbody > tr > td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

#stock-contents-div {
    margin: 0 30%;
}

#stock-contents-button-div {
    margin: 0 40%;
}