
#stock-table {
    width: 100%;
}

#stock-table, 
#stock-table > thead > tr > th, 
#stock-table > tbody > tr > td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

#stock-contents-div {
    margin: 0 30%;
}

#stock-contents-button-div {
    margin: 0 40%;
}

#stock-banner {
    height: 40px;
}

#stock-view-buttons-table {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 200px;
}

#stock-tabulator-holder {
    height: calc(100% - 40px);
}

#stock-tabulator {
    box-sizing: border-box;
}
