/* Recipe selection header */

#recipes-top-div {
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

#recipes-sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    max-width: 500px;
    width: 50%;
    margin-right: 20px;
}

#holder-for-recipes-tabulator {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: max(calc(50% - 20px), calc(100% - 520px));
}

#recipe-input-button-div {
    height: 150px;
}

#recipes-button-table {
    max-width: 250px;
    margin: auto;
}

.recipe-input-div {
    height: calc(100% - 150px);
}

.recipe-input-title {
    box-sizing: border-box;
    height: 70px;
    margin: 0;
    padding: 20px 0;
}

.holder-for-recipe-input-tabulator {
    width: 100%;
}

.create-recipe-button-table {
    margin: 0 auto;
    max-width: 200px;
}
