
#screen-view-buttons-table {
  width: 100%;
  padding: 0 40%;
}

#screen-table {
  width: 100%;
}

#screen-table, 
#screen-table > thead > tr > th, 
#screen-table > tbody > tr > td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

.screen-contents-table, 
.screen-contents-table > thead > tr > th, 
.screen-contents-table > tbody > tr > td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

.generated-recipe-table, 
.generated-recipe-table > thead > tr > th, 
.generated-recipe-table > tbody > tr > td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

.viewed-screen-highlight {
  background-color: rgb(203, 255, 255);
}

.generated-recipe-highlight {
  background-color: rgb(221, 203, 255);
}

#query-container {
  margin: auto;
  text-align: center;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
}


#query-head {
  background-color: rgb(255, 200, 180);
  margin-bottom: 3px;
}

#query-body {
  margin: 3px;
}

#query-body-top, #query-body-bottom {
  padding: 3px;
}

.section-title {
  text-align: center;
  padding: 5px;
}
.and-title, .or-title {
  margin-bottom: 3px;
}
.and-title {
  background-color: rgb(188, 255, 194);
}
.or-title {
  background-color: rgb(255, 158, 158);
}
.not-title {
  background-color: rgb(140, 176, 255);
}


.logic-div {
  display: inline-block;
  border: 2px solid rgb(255, 206, 99);
  border-radius: 5px;
  /*font-size: 0;*/
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
}
.condition-div, .chemical-div {
  display: inline-block;
  border: 2px solid rgb(127, 48, 255);
  border-radius: 5px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
}
.condition-div {
  background-color: rgb(253, 255, 215);
}
.chemical-div {
  background-color: rgb(233, 255, 216);
}
.selected-condition {
  background-color: rgb(248, 255, 152);
}
.selected-chemical {
  background-color: rgb(198, 255, 152);
}

/* Inputs for specifying condition */
.input-table {
  text-align: left;
  width: 100%;
  border: 0;
  margin: auto;
}
.input-table > tr > td > label {
  margin: 3px;
}
.input-wide {
  box-sizing: border-box;
  width: 100%;
}
.input-conc {
  box-sizing: border-box;
  width: 69%;
  margin-right: 1%;
}
.input-units {
  box-sizing: border-box;
  width: 30%;
}

/* JQuery UI styling */
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.ui-autocomplete-loading {
  background: white url("../images/loading.gif") right center no-repeat;
}