#screen-editor-top-div {
    height: 100%;
    width: 100%;
}

#screen-editor-sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(50% - 10px);
    margin-right: 10px;
}

#current-editor-div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(50% - 10px);
    margin-left: 10px;
}

#current-editor-header {
    height: 145px;
}

#current-editor-body {
    padding: 20px 0;
    width: 100%;
}

#screen-editor-type-button-div {
    height: 40px;
}

#screen-editor-automatic-generate-div,
#screen-editor-save-div {
    height: 60px;
}

#screen-editor-type-button-table {
    max-width: 350px;
    margin: auto;
}

#automatic-generate-button-table {
    max-width: 390px;
    margin: 0 auto;
}

#save-button-table {
    max-width: 390px;
    margin: 0 auto;
}

.holder-for-automatic-editor-tabulator {
    width: 100%;
}

#holder-for-factor-group-tabulator {
    height: calc(100% - 110px);
}

.editor-title {
    box-sizing: border-box;
    height: 70px;
    margin: 0;
    padding: 20px 0;
}

#automatic-editor-div{
    padding-top: 10px;
    height: calc(100% - 50px);
}

#automatic-editor-factor-groups-div{
    height: calc(100% - 205px);
}

#automatic-editor-additive-div{
    height: 145px;
}