[DATABASE]
readonly-username = XXXX
readonly-password = XXXX
write-username = XXXX
write-password = XXXX
type_prefix = mysql
ip = localhost
port = 3306
database_name = c6reduxdb
[JWT]
key = XXXX
algorithm = HS256
token_expiration_minutes = 60